html{

        height:100%;
        color:rgb(241, 236, 236);
    
    }
    
body{
    height:100%;
    margin:0;

}

#app{
    max-width:1550px;
    margin:0 auto;
    height:100%;
    
}
.mytoast{
    font-size:30px;
}
/*
 电影-电视剧-----item
*/
.movie-item{
    display:flex;
    flex-direction: column;
}
.movie-item .image-info{
     width:100%;
     position:relative;
 }
 .movie-item .image-info .image{
    max-width:100%;
    width:100%;
}
 .movie-item .image-info .score{
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    color: #fff;
    padding: 4px 6px;
    line-height: 1;
    background-color: rgba(162,162,182,0.5);
    font-weight:600;
}

.movie-item .title, .remark{
    width:100%;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.movie-item .title{
    margin-top: 12px;
    font-size: 28px;
    line-height: 40px;
    color: #000028;
}
.movie-item .remark{
    margin-top: 8px;
    font-size: 24px;
    line-height: 36px;
    color: #a2a2b6;
}
img[lazy=loading] {
  width: 100%;
}

/*电视剧caption*/
.movie-item .image-info .caption{
    position:absolute;
    left:10px;
    bottom:15px;
    color:#fff;
}

/* 

电影展示列表

*/
.movie-list{
    display:flex;
    padding:0 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.movie-list .item{
    margin-top:24px;
    overflow: hidden;
}
@media (max-width:750px){
    .movie-list .item{
        flex: 0 0  31%;
    }
}
@media (min-width:751px) and (max-width:1024px){
    .movie-list .item{
        flex: 0 0 23%;
    }
}
@media (min-width:1025px) and (max-width:1248px) {
    .movie-list .item{
        flex: 0 0  18%;
    }
}
@media (min-width:1249px)  {
    .movie-list .item{
        flex: 0 0  15%;
    }
}
/* toast  提示*/
.mu-snackbar{
    font-size:28px;
    text-align: center;
    background:rgb(71, 64, 64);
    border-radius: 8px;
    padding:5px 10px;
}
/* login */
.container{
    /* height:1334px; */
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:30px;
    background:#fff;
}
.container  .mu-form{
    width:600px;
}
.container .mu-form-item-label{
    font-size: 34px;
    line-height: 40px;
    text-align:left;
    margin-bottom:20px;
}
.container .mu-form-item-help{
    font-size:24px;
    bottom:-16px;
    color:rgb(197, 190, 190) ;
}
.container  input.mu-text-field-input{
    height:70px;
    background:#fff;
    font-size:26px;
    color:#666;
}
.container .mu-form-item{
    margin-bottom:60px;
}
.container .storage{
    margin-bottom:0px;
}
.container .storage .mu-form-item-content{
    position:relative;
    top:-20px;
    font-size:24px;
    
}
.container .storage .mu-checkbox-label,.container .storage .mu-checkbox-icon{
    color:rgb(197, 190, 190) ;
}
.container .storage .mu-form-item-label, 
.container .storage input.mu-text-field-input,
.container .submit .mu-form-item-label
{
    display:none;
}
.container .submit .mu-raised-button{
    width:100%;
    font-size:32px;
}
.container .submit .mu-primary-color{
    height:60px;
}
.container .login{
    position:relative;
    top:-30px;
    text-align:right;
    
}
.container .login .mu-form-item-content{
    display:inline-block;
}
.container .login a{
    padding:10px;
    color:#0af;
}
/*

*/
.loadMore{
    margin-bottom:60px;
    background:rgb(243, 241, 241);
}
/**
tabs
*/
.tabs{
    position:fixed;
    position:fixed; 
    margin:auto; 
    left:0; 
    right:0; 
    bottom:0; 
    max-width:1550px;  
  }
.tabs .mu-tab-wrapper{
    min-height:60px;
    font-size:30px;
    line-height:60px;
}
/* @media (max-width:1024px)  {
    .tabs .mu-tab-wrapper{
        min-height:80px;
        font-size:30px;
    }
   
}
@media (min-width:1025px)  {
    .tabs .mu-tab-wrapper{
        min-height:40px;
        font-size:16px;
    }
    .loadMore{
        margin-bottom:40px;
    }
}  */
.tabs .mu-tab-active{
   font-weight:600
}
/*

tv-list
*/
.tv-list{
    display: inline-block;
    position:relative;
    font-size: 28px;
    letter-spacing: normal;
    text-align: center;
    vertical-align: top;
    
}
.tv-list .item{
    display: block;
    width: 75px;
    height: 75px;
    margin: 0 16px 30px 14px;
    overflow: hidden;
    border-radius: 38px;
    background-color: #ebebeb;
    color: #222;
    line-height: 78px;
    text-overflow: ellipsis;
}
.tv-list .mark{
    position:absolute;
    top: 2px;
    right: 18px;
}
.mark_pic{
    display: inline-block;
    width: 32px;
    height: 28px;
    margin-left: 5px;
    background: 0 0;
    vertical-align: top;
}
.tv-list .current{
    background:#ff5c38;
    color:#fff
}
.tv-lists{
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
   
}

/* variety_list */
.variety-lists{
    margin-top:20px;
    
 }
 
 .empty{
    text-align:center;
    background:rgb(146, 145, 145);
    color:#fff;
    padding:20px;
    display:inline-block;
    margin:0 auto; 
    margin-top:40px;
    border-radius: 8px;
 }
.com-variety-list .item{
    display:block;
    text-align: left;
    padding-left:40px;
    line-height:50px;
    font-size:30px;
}
.com-variety-list .current{
    background:#ff5c38;
    color:#fff
}
/*  category */
.category-list{
    display:flex;
    align-items: center;
}
.category-list .label{
   flex:0 0 130px;
   display: flex;
   justify-content: left;
   font-size:28px;

}
.category-list .label>div{
   flex:0 0 100px;
   border-radius: 16px 0 16px 16px;
   background-color: #7f7f8b;
   color: #fff;
}  
.category-list .wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap; /*当子元素超过父元素宽度的时候，不会折行*/
}
.category-list .list {
      
    flex:1 1 600px;
    background-color: #fff;
    padding-left:0px;
    margin:12px 0px;
}
.category-list .itembox {
        display:inline-block;
        padding: 0 16px;
        line-height: 30px;
        font-family:PingFangSC-Regular;
        font-size: 28px;
        color:#333 !important;
 }
 .category-list .current{
    color: #ff5c38;
    font-weight: 700;
}
.category-list .title{
    font-size:28px;
    margin:15px 0;
}